.home-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    color: #f7f7f7;
  }

  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  
    background: linear-gradient(
      to bottom,
      rgba(104, 47, 41, 0.7), /* salmon */
      rgba(0, 0, 0, 0.8)         /* black */
    );
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .home-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .home-buttons a {
    margin: 0 1rem;
    color: #f7f7ff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  
  .home-buttons a:hover {
    border-color: #f7f7ff;
    transform: translateY(-5px);
    color: var(--salmon-accent-color);
  }