.recipe-card{
    background: #F7F7FF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 16px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1C0F13;
    position: relative;
}

.recipe-card:hover{
    transform: translateY(-5px);
    background: #f4dddd;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

.recipe-image-container { 
  background: #f87575;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  overflow: hidden;
}


.recipe-image { 
  font-size: 3rem;
  color: #fff;
  padding: 100px;
}

.recipe-image:hover {
    /* filter: blur(2px); */
    transition: all 0.2s ease-in-out;
}


.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: #f87575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-card img:hover {
    /* filter: blur(2px); */
    transition: all 0.2s ease-in-out;
}


.recipe-card-content {
    padding: 16px;
    padding-bottom: 48px; 
    text-align: left;
}

.recipe-card h3 {
    font-size: 1.2rem;
    margin: 0 0 8px 0;
    color: #1C0F13;
}

.recipe-card p {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
}

.recipe-card button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}


.recipe-card button svg {
  width: 24px;
  height: 24px;
  fill: #1C0F13;
  transition: fill 0.3s ease;
}

.recipe-card button:hover svg {
  fill: #f87575; 
}

.recipe-card button.saved svg {
  fill: #f87575; 
}