::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 3px;
}

.recipe-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;

}

.recipe-page{
    background-color: #F7F7FF;
    margin: 0;
    flex: 1;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
}

.recipe-header {
    background-color: transparent;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 0;

    padding-bottom: 20px;
    align-items: flex-start; 
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
    margin-left: 60px !important;
    margin-right: 40px !important;
    max-width: 1620px;

    /* margin-left: 300px;  */
}



.recipe-header h1{
    font-weight: 700;
    font-size: 2.5rem;
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
    margin-top: 60px;

}

.toggle-and-search-container {
    display: flex;
    /* flex-direction: row;  */
    flex-wrap: wrap !important; 
    justify-content: flex-start; 
    width: 100%; 
    padding-top: 0;
    margin-right: 40px;

    align-items: center; 
    gap: 20px; 


}

  .search-tabRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2rem; */
    width: 100%;
  }

  .search-tabOuter {
    background: #F7F7FF;
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    border: 2px solid #F87575;
    width: fit-content;
  }

  .search-tabBtn {
    background: #F7F7FF;
    color: #1C0F13;
    border: none;
    outline: none;
    font-weight: 550;
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    border-radius: 0;
    margin: 0;
  }
  
  .search-tabBtn.active {
    background: #F87575;
    color: #F7F7FF;
    cursor: default;
  }
  
  .search-tabBtn:first-child {
    border-radius: 8px;
  }
  
  .search-tabBtn:last-child {
    border-radius: 8px;
  }
  
  .search-tabBtn:disabled {
    cursor: default;
  }

.MuiToggleButtonGroup-root {
    background-color: #F7F7FF; 
    border: 1px solid #F87575; 
    border-radius: 10px !important; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.MuiToggleButton-root {
    flex: 1;
    border: 2px solid transparent !important;
    border-radius: 0px !important; 
    color: #1C0F13;
    text-transform: none !important;
    font-weight: 500;
    padding: 8px 16px;
    min-width: 140px;
    transition: all 0.3s ease;
    background-clip: padding-box;
}

.MuiToggleButtonGroup-grouped:not(:last-of-type) {
    border-right: none !important;
}
.MuiToggleButtonGroup-grouped:first-of-type {
    border-radius: 8px !important; 
}
.MuiToggleButtonGroup-grouped:last-of-type {
    border-radius: 8px !important; 
}


.MuiToggleButton-root.Mui-selected {
    background-color: #F87575 !important;
    color: #F7F7FF !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
    border-color: #F7F7FF !important;
}

.MuiToggleButton-root:not(.Mui-selected):hover {
    background-color: #f4dddd;
}


.MuiToggleButton-root.Mui-selected:hover {
    background-color: #E06565 !important; 
    cursor:default;
}


.recipe-scroll-container {
    flex: 1;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 20px;
    padding-right: 10px !important;
    width: 88%;
}

.recipe-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    width: 100%;
    max-width: 1620px;

    /* padding: 10px 0; */
    /* justify-items: center; */
    flex: 1;
}

.recipe-grid-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.header-search-container {
    border: none;
    background-color: transparent;
    max-width: 400px;
    width: 100%;
}

