@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --main-font: 'Funnel Sans', sans-serif;
  --background-color: #f7f7f7;
  --text-color: #1C0F13;
  --salmon-accent-color: #F87575;

  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: var(--main-font);

}